$def with(content)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Kindle摘录</title>
	<link href="$config.static/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="$config.static/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="doc">
	<div id="header" class="route-profile">
	</div>
	<div id="page-outer">
		<div id="page-container" class="profile-container" style="background-image: none; background-attachment: initial; background-origin: initial;>
			<div class="main-content">
				<div class="profile-header">
					<div class="profile-info">
						<div class="profile-image-container">
						</div>
						<div class="profile-details">
							<div class="full-name">
								<h2>"test"</h2>
							</div>
							<div class="bio"></div>
						</div>
					</div>
				</div>
				<div class="stream-manager">
					<div class="stream-title">
						<p>123456789</p>
					</div>
					<div class="stream-container">
						<div class="stream">
							<div class="stream-items">
								<div class="stream-item">        
									<div class="mod status-item ">
										<div class="bd">
											<span class="user-name">
											<a href="#!/blueskd" title="蓝调共和@blueskd">蓝调共和</a>
											</span>
											<div class="text">
												查路易斯安那州种植园的路线查得我心花怒放，这片地区的历史太丰富了，距离休斯敦又不远，可以常去。密西西比河畔的风景也非常漂亮，如果是春夏就更美了。迫不及待的赶紧去看看，简直就是电影《飘》中的场景啊！我读的美国历史和喜欢的电影，很快就可以出现在面前了。
											</div>
										</div>
										<div class="ft">
											<span class="timestamp"><a href="/#!/blueskd/status/821326968" title="2011-12-17 03:24:49">12月17日 03:24</a></span> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="dashboard">
				</div>
			</div>
		</div>
	</div>
</div>
<div id="container">
	<div id="header">
		<div id="header-inner">
			<div id="logo">
				<a href="/">Kindle摘录</a>
			</div>
		</div>
	</div>
	<div class = "main-content">

		<div class="stream-item">        
			<div class="mod status-item ">

				<div class="bd">
					<span class="user-name">
						<a href="#!/blueskd" title="蓝调共和@blueskd">蓝调共和</a>
					</span>
					<div class="text">
						 查路易斯安那州种植园的路线查得我心花怒放，这片地区的历史太丰富了，距离休斯敦又不远，可以常去。密西西比河畔的风景也非常漂亮，如果是春夏就更美了。迫不及待的赶紧去看看，简直就是电影《飘》中的场景啊！我读的美国历史和喜欢的电影，很快就可以出现在面前了。
					</div>
				</div>
				<div class="ft">
					<span class="timestamp"><a href="/#!/blueskd/status/821326968" title="2011-12-17 03:24:49">12月17日 03:24</a></span> 
				</div>
			</div>
		</div>
		
		<div class="stream-item">        
			<div class="mod status-item ">

				<div class="bd">
					<span class="user-name">
						<a href="#!/blueskd" title="蓝调共和@blueskd">蓝调共和</a>
					</span>
					<div class="text">
						 查路易斯安那州种植园的路线查得我心花怒放，这片地区的历史太丰富了，距离休斯敦又不远，可以常去。密西西比河畔的风景也非常漂亮，如果是春夏就更美了。迫不及待的赶紧去看看，简直就是电影《飘》中的场景啊！我读的美国历史和喜欢的电影，很快就可以出现在面前了。
					</div>
				</div>
				<div class="ft">
					<span class="timestamp"><a href="/#!/blueskd/status/821326968" title="2011-12-17 03:24:49">12月17日 03:24</a></span> 
				</div>
			</div>
		</div>
		
		<div class="stream-item">        
			<div class="mod status-item ">

				<div class="bd">
					<span class="user-name">
						<a href="#!/blueskd" title="蓝调共和@blueskd">蓝调共和</a>
					</span>
					<div class="text">
						 查路易斯安那州种植园的路线查得我心花怒放，这片地区的历史太丰富了，距离休斯敦又不远，可以常去。密西西比河畔的风景也非常漂亮，如果是春夏就更美了。迫不及待的赶紧去看看，简直就是电影《飘》中的场景啊！我读的美国历史和喜欢的电影，很快就可以出现在面前了。
					</div>
				</div>
				<div class="ft">
					<span class="timestamp"><a href="/#!/blueskd/status/821326968" title="2011-12-17 03:24:49">12月17日 03:24</a></span> 
				</div>
			</div>
		</div>
		
	</div>

	<div class="bookboard">
		<div id='readingbooks'>
			<p> 这边要显示阅读动态</p>
			<p> 这边要显示阅读动态</p>
			<p> 这边要显示阅读动态</p>
			<p> 这边要显示阅读动态</p>
			<p> 这边要显示阅读动态</p>
		</div>
	</div>

$:render.foot()



