$:render.header()


	<div class="wrapper">
		<div id="content">
			<h1>登录</h1>
		<div class="article">
			<form id="lzform" action="/login" method="post">
				<div class="item">
					<label>邮箱</label>
					<input id="email" name="form_email" type="text" class="basic-input" maxlength="60" value="dvy.zhang@gmail.com" tabindex="1"/>
				</div>
				<div class="item">
					<label>密码</label>
					<input id="password" name="form_password" type="password" class="basic-input" maxlength="20" tabindex="2"/>
				</div>
				<div class="item">
					<label>&nbsp;</label>
					<input type="submit" value="登录" name="user_login" class="btn-submit" tabindex="5"/>
				</div>
			</form>
		</div>
		<div class="aside">
			&gt没有账号？<a rel="nofollow" href="/oauthdouban">立即注册</a>
		</div>
		</div>
	
	
$:render.foot()